RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

Aplication AddType / x-httpd-php .php .htm .html AddHandler x-httpd-php .php .htm .html